/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); */

.LeftPane-container{
    /* border: 1px solid black; */
    width: 100%;
    min-height: 89vh;
    display:flex;
    flex-direction:column;    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.02);
}


.paneContainer {
    border: "1px solid black";
    height: 100%;
    margin: 10px;
    margin-top: 80px;
    /* padding: 10px; */
}

.mainHeadingContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px,
}

.mainHeadingText {
    font-family: Roboto Open Sans, sans-seri;
    font-weight: 500;
    font-size: 24px;
    margin-left: 10px;
}

.productDetailContainer {
    /* border: "1px solid black", */
    margin-top: 20px;
}

.productHeading {
    /* border: "1px solid black", */
    display: flex;
    align-items: center;
    font-family: "Roboto Open Sans, sans-serif";
    color: #1F88FE;
    font-weight: 400;
    font-size: 16px;

}

.productSubheadingText {
    /* border: "1px solid black", */
    font-family: "Roboto Open Sans, sans-serif";
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    color: "black"
}


@media (max-width: 900px) {
    .paneContainer {
        border: "1px solid black";
        height: 100%;
        margin: 5px;
        margin-top: 10px;
        /* padding: 10px; */
    }
}